<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>Fashion Poll</title>
	<link rel="stylesheet" href="{% static "FashionPoll/css/styleHome.css" %}" /> <!-- CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{% static "FashionPoll/js/jquery.js" %}"></script> <!-- JavaScript -->
</head>
<body>
<h3>&nbsp &nbsp &nbsp<a href="/FashionPoll/"> Fashionista </a>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp <a href="/FashionPoll/home">Home</a>&nbsp &nbsp &nbsp<a href="/FashionPoll/user/{{ user.username }}">Profile</a>&nbsp &nbsp &nbsp <a href="/FashionPoll/rank-list">Rank-List</a>&nbsp &nbsp &nbsp <a href="/FashionPoll/logout">Logout</a>  </h3>
<div class="dynamic">
			<div style="float:left;width:17%;">
				<p>Welcome {{ user.first_name }} !!</p>
				{% for up in uprofile %}
					<p><img src="{{ MEDIA_URL }}{{ up.profile_picture }}" alt="No Profile Picture" border=1 height=100px width=100px></img></p>
					<p> Dob: {{ up.dob }} </p>
					<p> {{ up.phone_number }}</p>
				{% endfor %}
				<p> <a href="/FashionPoll/edit-profile">Edit Profile</a></p>
				{% if uparticipation %}
					<p> Your Fashionita details </p>
					{% for part in uparticipation %}
						<table border="1">
						<tr><td><img src="{{ MEDIA_URL }}{{ part.fashionista_picture }}" alt="xyz" border=1 height=100px width=100px></img></td></tr>
						<tr><td> {{ part.title }} </td></tr>
						<tr><td> Likes:{{ part.likes }} </td></tr>
						<tr><td> Views:{{ part.views }} </td></tr>
						<tr><td> Rating:{{ part.rating }} </td></tr>
						</table>
					{% endfor %}
				{% else %}
					<p><a href="/FashionPoll/participate"> Participate in Fashionista!</a> </p>
				{% endif %}
			</div>
		<div id="fashionpoll" style="float:right;width:77%;">
			<p> Contribute to the fashion poll by liking one of the 2 pictures! </p>
			{% if obj1 and obj2 %}
			<div id="poll">
				<table border="1">
					<tr>
						<td id="name1">{{ obj1.user.first_name }} {{ obj1.user.last_name }}</td>
						<td id="name2">{{ obj2.user.first_name }} {{ obj2.user.last_name }}</td>
					</tr>
					<tr>
						<td id="image1"><img  src="{{ MEDIA_URL }}{{ obj1.fashionista_picture }}" alt="{{ obj1.fashionista_picture }}" border=3 height=450px width=420px></img></td>
						<td id="image2"><img  src="{{ MEDIA_URL }}{{ obj2.fashionista_picture }}" alt="{{ obj2.fashionista_picture }}" border=3 height=450px width=420px></img></td>
					</tr>
					<tr>
						<td id="title1">{{ obj1.title }}</td>
						<td id="title2">{{ obj2.title }}</td>
					</tr>
					<tr>
						<td id="button1"><button type="button" id="like" fashionistaId="{{ obj1.id }}" userId="{{ obj1.user.id }}">Like</button> &nbsp&nbsp&nbsp&nbsp <div id="like_count">{{ obj1.likes }}</div> people like it. </td>
						<td id="button2"><button type="button" id="like2" fashionistaId="{{ obj2.id }}" userId="{{ obj2.user.id }}">Like</button>&nbsp&nbsp&nbsp&nbsp <div id="like_count2">{{ obj2.likes }}</div> people like it. </td>
					</tr>
				</table>
				</div>
			{% else %}
				<h2>There are not enough competitiors remaining for competetion!</h2>
			{% endif %}
		</div>
</div>

</body>
</html>