{% load i18n %}
<!--
<ul class="{% if not entries %}no-{% endif %}entries-random">
  {% for entry in entries %}
  <li>
    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
  </li>
  {% empty %}
  <li>
    {% trans "No entries yet." %}
  </li>
  {% endfor %}
</ul>
-->
<div class="{% if not entries %}no-{% endif %}entries-random carousel-inner" role="listbox" >
{% for entry in entries %}
<div class="item">
<img src="{{ entry.image.url }}" alt="{{ entry.image_caption|default:entry.title }}" width="460" height="345">
<div class="carousel-caption">
<h1>{{ entry.title }}</h1>
</div>
{% endfor %}
</div>