{% load i18n %}
<!--<div class="{% if not entries %}no-{% endif %}entries-random carousel-inner" role="listbox">-->
  {% for entry in entries %}
  <div class="item">
  	<img src="{{ entry.image.url }}" alt="{{ entry.image_caption|default:entry.title }}" width="100%" height="345"/>
  	<div class="carousel-caption">
    <h1><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a><h1>
    <p></p>
  	</div>
  </div>
  {% empty %}
  <div>
    {% trans "No entries yet." %}
  </div>
  {% endfor %}
<!--</div> -->
